/*HEADER*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100vh;

  background: url(imgs/bg1.jpeg);
  background-size: 50% 100%, cover;
  background-position: center;
  clip-path: polygon(50% 0%, 100% 0, 100% 83%, 50% 100%, 0 83%, 0 0);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.nav-link:hover {
  color: #05ce91;
  transition: 0.4s;
}

.nav-logo {
  color: rgb(255, 255, 255);
  font-size: 50px;
  letter-spacing: 5px;
  padding-left: 50px;
}
.nav-logo span {
  color: #05ce91;
}
/*INTRO*/
.intro {
  color: white;
  margin-top: 100px;
  margin-left: 100px;
  max-width: 450px;
}

.intro p {
  font-size: 25px;
}
.intro h1 {
  font-size: 50px;
  margin: 10px 0px;
}
@media only screen and (max-width: 768px) {
  .intro {
    margin-left: 30px;
  }
  .intro p {
    font-size: 22px;
  }
  .intro h1 {
    font-size: 35px;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;

    background-color: rgb(0, 0, 0);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .nav-logo {
    padding-left: 0px;
    font-size: 30px;
  }
  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    background: azure;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*BUTTON*/

/*TBD*/
